.main {
    display: flex;
    width: 100%;
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
    color: #747474;
    flex-wrap: wrap;
    justify-content: center;

    .card {
        border: solid 2px #bababa;
        height: 140px;
        width: 140px;
        border-radius: 0.5rem;
        padding: 1rem;
        align-items: center;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        .img {
            width: 4rem;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}



