.search{
    height: 40px;
    width: 30rem;
    background-color: rgb(251, 251, 251);
    color: grey;
    border-radius: 0.5rem;
    text-align: start;
    position: relative;
    margin: auto;
    z-index: 1;
    display: inline-flex;
    border: #E5E5E5 1px solid;
    border-radius: .1rem;
    margin-top: 2.8rem;
}
.inputSearch{
    height: 39px;
    width: 30rem;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: .1rem;
    color: rgb(23, 10, 10);
    font-size: 2.5rem;
    background: rgba(255, 255, 255, 0.548);
    position:relative;
    background-image: url("../../../public/search_icon.svg");
    background-repeat: no-repeat;
    background-position-y:3px;
    background-position-x: end;
    background-size: 24px;
    font-size: medium;
    padding-left: 1.7rem;
    outline: 0;
}

.search input::-moz-placeholder {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    
 }