.container{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    color:  #747474;
    flex-wrap: wrap;
    margin-top: 5%;

    .card{
        border: solid 1px transparent;
        width: 264px;
        height: 276px;
        border-radius: 8px;
        box-shadow: 1px 1px 2px rgba(103, 102, 102, 0.444);

        .img{
            width: 100%;
            border-top-left-radius: .5rem;
            border-top-right-radius: .5rem;
        }
        .subtitulo{
            font-size: small;
        
        }
        .preco{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            gap: 0.5rem;
        }
        .text{
            color: #59cd59;
        }
    }
}

